/* this is my stylesheet for the homepage */

/* table of contents */

/* header styles */

header{
  padding-bottom: 10px;
  margin-bottom: 20px;
}

header h1{
  color: #128a92;
  font-family: 'Raleway', sans-serif;
  font-size:200%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -10px;
  }

nav{
  margin-top: 25px;
  margin-bottom: -5px;
}
nav a, nav a:hover, nav a:visited{
  color: black;
  text-decoration: underline;
  text-align: right;
  margin-right: 0px;
}

h1{
  font-family: 'Raleway', sans-serif;
}

/* body styles */

/*homepage*/
.nopadding{
  padding: 0px;
  margin: 0px;
}

ul{
  color: white;
  font-family:'Raleway', sans-serif;
  text-align: left;
  font-size: 110%;
  padding-left: 30px;
}

.infobox{
  background-color: #58876e;
  padding: 20px;
  border: solid white 1px;
  border-top: 0px;
}

.infobox a, .about a{
  color: white;
  font-family:'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.about, .portfoliopage, .welcome{
    background-color: #58876e;
    padding: 5px;
    border: solid white 1px;
    border-top: 0px;
}

.portfoliopage, .welcome{
color: white;
text-align: center;
margin-bottom: 30px;
margin-top: 0px;
}
.welcome{
  margin: 0px;
}

.about:hover, .portfoliopage:hover{
    background-color: #128a92;
  }

h2{
  margin-top: 15px;
}
/*portfolio page*/
.img{
  margin-top: 10px;
}

figcaption{
  margin-top: -15px;
  text-align: center;
  color: white;
}

.projectdetail, .projectdetail:hover{
    font-family:'Raleway', sans-serif;
    text-align: center;
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}

.bio{
  font-family: 'EB Garamond', serif;
  padding:25px;
  color: black;
}

/* footer styles */

.footer{
border-top: solid 2px lightgrey;
margin-top: 30px;
padding-top: 5px;
}

h6{
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  text-align: center;
}

/*{outline: 1px solid red;}*/
