#home{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb349+0,addfe9+44,117a61+93 */
  background: #ffb349; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb349 0%, #addfe9 44%, #117a61 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffb349 0%,#addfe9 44%,#117a61 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffb349 0%,#addfe9 44%,#117a61 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb349', endColorstr='#117a61',GradientType=0 ); /* IE6-9 */

}

#aboutbg{
  background-color: #117a61;
}
  #wrapper{
    width:1200px;
    height: 8400px;
    margin:0 auto;
    position:relative;
    padding: 0;
  }

  #aboutwrapper{
    width: 1200px;
    height: 900px;
    margin:0 auto;
    position:relative;
    padding: 0;
  }

#gift{
  width:270px;
  height:310px;
  position:absolute;
  top:300px;
  left:280px;
  z-index:99;
  background-image:url("../images/redgift.png");
  background-repeat:no-repeat;
  background-size: contain;
  animation: gift 1.8s forwards;
  animation-delay:4.2s;
  transform: rotate(15deg);
  }

  #crow{
    width:450px;
    height:377px;
    position:absolute;
    left:220px;
    top: 80px;
    z-index:100;
    background-image:url("../images/crow.png");
    background-repeat:no-repeat;
    animation: crow 6s forwards;
  }

  .cake{
    width: 350px;
    height: 300px;
    position: absolute;
    bottom:0;
    left:500px;
    z-index: 97;
    background: url(../images/cakered.png) no-repeat;
    background-size: contain;
  }

  .girl{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left:730px;
    z-index: 98;
    background: url(../images/girl.png) no-repeat;
    background-size:contain;
  }

.music,.music2{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 7100px;
  right:200px;
  background: url(../images/musicgreen.png) no-repeat;
  background-size:contain;
  animation: music infinite 5s;
}

.music2{
  position: absolute;
  top: 7100px;
  left:200px;
}

.yellowhouse{
  width: 800px;
  height: 900px;
  position: absolute;
  top:6000px;
  right:0;
  background: url(../images/yellowhouse.png) no-repeat;
  background-size:contain;
}

.pinkhouse{
  width: 300px;
  height: 700px;
  position: absolute;
  top:5900px;
  left:0;
  background: url(../images/greenbuilding.png) no-repeat;
  background-size:contain;
}

.landscape{
  width: 1200px;
  height: 500px;
  position: absolute;
  top:5000px;
  background: url(../images/landscape.png) no-repeat;
  background-size:contain;
}

.car{
  width: 300px;
  height: 200px;
  position: absolute;
  top:5220px;
  left:50%;
  margin-left: -50px;
  transform: rotate(12deg);
  animation: car 10s infinite paused;
  background: url(../images/car.png) no-repeat;
  background-size:contain;
}

.rain{
  width: 1200px;
  height: 1900px;
  position: absolute;
  top:4100px;
  left: 50%;
  margin-left: -600px;
  background: url(../images/rain.png) no-repeat;
  background-size:contain;
}

.cloud{
  width: 500px;
  height: 1000px;
  position: absolute;
  top:3500px;
  right: 0;
  background: url(../images/bluecloud.png) no-repeat;
  background-size:contain;
}

.bigcloud, .bigcloud2{
  width: 700px;
  height: 500px;
  position: absolute;
  top:3050px;
  left: 0;
  background: url(../images/bigcloud.png) no-repeat;
  background-size:contain;
}

.bigcloud{
  width: 800px;
  left: 300px;
  top:2300px;
  transform: rotate(160deg);
  z-index: 5;
  }

.bigcloud2{
  z-index: 101;
}

.sun{
  width: 400px;
  height: 400px;
  position: absolute;
  left: 350px;
  animation: sun 12s forwards;
  background: url(../images/sun.png) no-repeat;
  background-size:contain;
  z-index: 2;
}

.plane{
  width: 600px;
  height: 200px;
  position: absolute;
  left:0px;
  top:1300px;
  animation: plane 15s forwards paused;
  background: url(../images/plane.png) no-repeat;
  background-size:contain;
}

.ladycrow{
  width: 300px;
  height: 300px;
  position: absolute;
  top:250px;
  left:55%;
  background: url(../images/ladycrow.png) no-repeat;
  background-size:contain;
}

.line{
  width: 1200px;
  height: 600px;
  position: absolute;
  top:320px;
  background: url(../images/line.png) no-repeat;
  background-size:contain;
}

.crowabout{
  width:200px;
  height:150px;
  position:absolute;
  top: 70px;
  left: 540px;
  background-image:url("../images/ladycrow2.png");
  background-repeat:no-repeat;
  background-size: contain;
}

.images{
  width: 500px;
  height: 1000px;
  position: absolute;
  top:170px;
  left:700px;
}

.a{
  width: 500px;
  height: 500px;
  background-image:url("../images/a.jpg");
  background-repeat:no-repeat;
  background-size: contain;
}


.b{
  width: 500px;
  height: 800px;
  background-image:url("../images/b.jpg");
  background-repeat:no-repeat;
  background-size: contain;
}

.d{
  width: 650px;
  height: 800px;
  position: absolute;
  left: 0;
  top:420px;
  background-image:url("../images/collage.jpg");
  background-repeat:no-repeat;
  background-size: contain;
}


/* T E X T */
h1{
  width: 200px;
  height: 40px;
  position: absolute;
  bottom:20px;
  left:150px;
  color: white;
  font-family: 'Comfortaa', cursive;
  animation: text 5s forwards;
}

h4{
  width: 200px;
  height: 20px;
  position: absolute;
  bottom:0px;
  left:150px;
  color: white;
  font-family: 'Comfortaa', cursive;
}


.about{
  width: 300px;
  height: 40px;
  position: absolute;
  top:100px;
  left:0;
  color: white;
  font-family: 'Comfortaa', cursive;
}

p{
  width: 650px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 0;
  color: white;
  font-family: 'Comfortaa', cursive;
  text-align: justify;
  line-height: 2em;

}

.backtohome{
  position: absolute;
  left:740px;
  top:105px;
  color: white;
  font-family: 'Comfortaa', cursive;
  transform: rotate(15deg);
  text-decoration: none;
}
/*  E N D   O F   T E X T */
/* A N I M A T I O N S */
@keyframes text {
  0%{opacity:0}
  100%{opacity: 1}
}

/*@keyframes crow {
   0%{top:-10px; left: -100px;}
   50%{top: 220px; left: 400px;}
   70%{top: 220px; left: 400px;}
   100%{top: 75px; left: 600px;}
}

@keyframes gift {
  100%{bottom: 15px; left:490px;}
}*/

@keyframes music {
  100%{transform: rotate(360deg);
  transform-origin: center;}
}

@keyframes sun {
  0%{top: 2000px;}
  100%{top: 2300px;}
}

@keyframes plane {
  0%{ left:0px;  top:1300px; }
  100%{ left: 600px; top:1000px;}
}

@keyframes car {
  0%{ top:5220px; left:50%; margin-left: -50px; transform: rotate(12deg)}
  100%{top:5219px; left:70%; margin-left: -50px; transform: rotate(0deg) }
}
/* E N D   O F   A N I M A T I O N S */
